DATABASE_URL="mysql://do_app:do_app_dev_only@localhost:3307/digitaloffice"
BETTER_AUTH_SECRET=P8NNAZ4n9EjOBXgmcLHDVKk4Fapc7Nzrx8/NnOwbabQ=
BETTER_AUTH_URL="http://localhost:3000" 

SEED_SUPERADMIN_NAME="Moreno"
SEED_SUPERADMIN_EMAIL="morenoakbaripasha19@gmail.com"
SEED_SUPERADMIN_PASSWORD="SolitAdmin2026!Kuat"
SEED_DEMO_PASSWORD="demo12345"